<%= render 'shared/page_title', a: "Edit an existing recipes:"  %>

<%= render "form" %>


<div class="col-md-4 col-md-offset-4 colormatch">
      [<%= link_to "Cancel edit & Back to recipe", recipe_path %>]
</div>
